* {
	transition: all .1s ease-in;
}

html, body {
	min-height: 100%;
	background: #2B81AC;
}

body {
	display: block;
	background: #3399CC;
	margin: 20px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #ffffff
}

html {
	height: 100%;
}

.main {
	display: block;
	
	
}

.cities {
	
}

.cities li {
	display: inline-block;
	height: 100px;
	width: 25%;
}

