.main-header {
    background-image:
    linear-gradient(to top, rgba(#000, .9) 0%, rgba(#021833, .9) 100%),
    url($img-path + "header-bg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-color: #fff;

    padding-top: 80px;

    &::after {
        content: "";
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        min-height: 16vh;
    }

    &__text-content {
        margin-left: 80px;
    }

    &__title {
        margin: -10px 0 20px;

        & > * {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 48px;
        line-height: 1.4;
        }
    }

    &__description {
        line-height: 2;
        margin-bottom: 20px;
    }

    &__img-wrap {
        position: relative;
        padding-top: 112%;
        box-shadow: 2px 2px 5px 0 rgba(#000, .1);
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 105%;
        width: 103%;
        object-fit: cover;
    }

    &__img-play {
        $size: 80px;
        @include centered;
        z-index: 10;
        display: block;
        border: 10px solid $grey-color;
        border-radius: 50%;
        background-color: $white-color;
        width: $size;
        height: $size;
        cursor: pointer;

        .fa-play {
            @include centered;
            color: $pink-color;
        }
    }
}

.logo {

    &__link {
        display: inline-block;
        font-size: none;
    }

    &__img {
        max-width: 100%;
    }
}

.navigation {
    
    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        list-style: none;
    }

    &__link {
        color: $white-color;
        text-transform: uppercase;
        font-weight: 600;
        

        &--active,
        &:hover {
            color: $pink-color;
        
        }
    }
}

.row-faic {
    margin-bottom: 220px;
}

