body {
   background: #FFF url("./img2.jpg") no-repeat 0 0;
   box-sizing: border-box;
}

.main {
   max-width: 100%;
   float: left;
   padding-top: 560px;
   padding-left: 15px;
   padding-bottom: 0px;
}

.container li {
   display: inline-block;
   margin-right: 20px;
}

.container a { 
   text-decoration: none;
   color: #CCDDEF;
   font-family: 'Ubuntu', sans-serif;
   font-size: 32px;
   font-weight: 300;
}

.menu-list ul {
   list-style: none;
   transform: rotate(16deg);
}

.menu-list {
   line-height: 3;
}

.container ul li a:hover {
   color: #FE3C20;
}

.main-footer {
   transform: rotate(16deg);
   display: inline-block;
   color: #000508;
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px;
   font-weight: 300;
}