*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

body {
   background: #FFF url("./img2.jpg") no-repeat 0 0;
   box-sizing: border-box;
}

.main {
   max-width: 100%;
   max-height: 700px;
   float: left;
   padding-top: 580px;
   padding-left: 50px;
   padding-bottom: 0px;
}

.container li {
   display: inline-block;
   margin-right: 20px;
}

.container a { 
   text-decoration: none;
   color: #CCDDEF;
   font-family: 'Ubuntu', sans-serif;
   font-size: 32px;
   font-weight: 300;
}

.menu-list ul {
   list-style: none;
   transform: rotate(16deg);
}

.menu-list {
   line-height: 3;
}

.container ul li a:hover {
   color: #FE3C20;
}

.main-footer {
   transform: rotate(16deg);
   display: inline-block;
   color: #000508;
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px;
   font-weight: 300;
   margin-left: 50px;
   margin-right: 100px;
   margin-top: -40px;

}


.email {
   display: block;
   margin-bottom: 30px;
   margin-top: 30px;
   margin-left: 17px;
}

.tel {
   display: block;
   margin-top: 32px;
   padding-left: 18px;
}

.main-footer span {
   font-family: 'Ubuntu', sans-serif;
   font-size: 30px;
   font-weight: 500;
   margin-left: 17px;
   
}

.main-footer h2 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 40px;
   font-weight: 500;
}