* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#top, #bottom, #left, #right {
	background: $white-color;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top,  {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


body {
    
}

ul {
	list-style: none;

	li {

		a {
			display: block;
		}
	}
}