.ba-header {
    background-image: url('../img/header-bg.png');
    background-size: cover;
    display: flex;
    min-height: 90vh;

    .ba-content {
        max-width: 1170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.ba-header__text {
    font-family: $main-font;
    font-size: 40px;
    margin-bottom: 20px;
}

.form {
    position: relative;
    width: 100%;
}

.form__input-first,
.form__input-second {
    display: inline-block;
}

.form__input-first {
    width: 70%;
    padding: 25px 0 25px 60px;
    border: transparent;
    border-radius: 5px 0 0 5px;
    color: #303030;
  }
  
  .form__input-second {
    position: relative;
    left: -4px;
    text-transform: uppercase;
    width: 25%;
    cursor: pointer;
    border: transparent;
    padding: 25px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    background-color: #e10011;
    transition: all 0.2s;
  }