.menu {
    min-height: 10vh;
    background-color: #496bfe;
}

.menu ul li:not(:last-child){
    content: "";
    margin: 0 50px;
}

ul {
    text-align: center;
}

li {
    margin-top: 30px;
    display: inline-block;
    list-style: none;

    a {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-size: 25px;
    }

    a:hover {
        color: red;
    }

}

