@mixin button ($bg-color, $min-width: 170px){
	color: $secondary-color;
	text-transform: uppercase;
	border: none;
	padding: 15px 0;
	@extend .shadow;
	background: $bg-color;
	min-width: $min-width;
	cursor: pointer;
	font-size: $font-size-element;
	transition: background .3s ease;

	 &:hover {
			background: lighten($bg-color, 5%);
	 }
}

@mixin bg-image ($imageName, $bgPosition: 0 0){
	background-image: url($img-path + $imageName);
	background-repeat: no-repeat;
	background-position: $bgPosition;
}