* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1;
}

body {
	font-size: $font-size-text;
	font-family: $main-font;
}

ul {
	list-style: none;

	li {

		a {
			display: block;
		}
	}
}

a {
	color: $main-color;
	text-decoration: none;
}

p {
	line-height: 25px;
}

.ba-text {
	line-height: 25px;
}

.scroll {
	width: 100%;
	text-align: center;

	&__link {
		height: 40px;
		width: 24px;
		display: inline-block;
		background-image: url('../img/scroll.png');
		background-repeat: no-repeat;
	}
}

.section-title > * {
	color: $white-color;
	font-size: $font-size-section-title;
	font-weight: bold;
	text-transform: capitalize;
}

.shadow {
	box-shadow: 0px 3px 16px -4px #000000;
}
