/*
		-- MAP -- 
 -- #COMMON
 -- #HEADER
 -- #BODY
 -- #FOOTER 
 */


/* #COMMON */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .1s ease-in;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #fff;
	background-color: #3B3F45;
	border: 20px solid #fff;
}

/* #BTN */

.nav-btns {
	position: absolute;
	bottom: 5%;
	left: 50%;
	width: 460px;
	/* border: 1px solid #000; */
	transform: translate(-50%, -50%);
}

.nav-btns a {
	display: inline-block;
	text-align: center;
	width: 40%;
	font-size: 16px;
	margin-right: 30px;
	padding: 15px;
	background-color: rgb(153, 18, 74);
	border-radius: 10px;
}

.nav-btns a:first-child {
	margin-left: 15px; 
}

.nav-btns a:link,
.nav-btns a:visited {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .3s;
}

.nav-btns a:hover {
	background-color: #fff;
	color: rgb(153, 18, 74);
}


.bg_grey {
	background-color: #4A4F56;
}

.pink {
	color: #eb7e7f;
}

.fs20 {
	font-size: 20px;
}

/* #HEADER */

.main_header {
	text-align: center;
	padding: 16px;
}

.main_header h1 {
	text-transform: capitalize;
}

.upper {
	text-transform: uppercase;
}

/* #BODY */

.container {
	max-width: 760px;
	margin: 0 auto;
}

.dinner_list {
	padding: 30px 0;
	list-style: none;
}

.dinner_list li {
	border: 2px solid;
}

.dinner_list label {
	cursor: pointer;
	padding: 10px;
	display: block;
}

.dinner_list li input[type="checkbox"] {
	display: inline-block;
	margin-right: 10px;
}

.dinner_list li:nth-child(odd) {
	background: #88839E;
	border-color: #88839E;
}

.dinner_list li:nth-child(even) {
	background: #7A7593;
	border-color: #7A7593;
}

.dinner_list li:hover {
	border-color: #fff;
	border-right-color: transparent;
	border-left-color: transparent;
	background: #625E77;
}

.dinner_list li:active {
	background-color: #eb7e7f;
}

.dinner_list li input[type="checkbox"]:checked+span {
	text-decoration: line-through;
}

.dinner_list label .bracket {
	font-size: 16px;
}

.dinner_list label .bracket:before {
	content: "(";
}

.dinner_list label .bracket:after {
	content: ")";
}

/* #FOOTER */

.main_footer {
	padding: 20px;
}

.main_footer p {
	text-align: center;
	font-size: 25px;
}