// ********HOME
// ********ABOUT
// ********SERVICES
// ********GALLERY

.ba-hero {
	max-height: 100vh;
	min-height: 100vh;
	background-color: #f9f8fb;
	background-image: url('../img/header.png');
	background-position: 50% 0;
	background-repeat: no-repeat;
	position: relative;

	&>.container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		.row {
			display: flex;
			align-items: center;
			flex-grow: 1;
		}
	}

	&__title {
		margin-bottom: 15px;

		&>* {
			font-size: $font-size-header-title;
			text-transform: capitalize;
			font-weight: 900;
		}
	}

	&__text {
		margin-bottom: 35px;
	}

	&__button {
		@include button($orange-color, 200px);
	}
}

.header-upper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.ba-menu {
	display: flex;
	justify-content: space-between;
	width: 100%;

	&__item {
		font-weight: 600;
		text-transform: uppercase;
		padding: 10px 0 0;
		border-top: 3px solid transparent;

		&:hover {
			border-top-color: $orange-color;
		}
	}
}

.ba-header {
	display: flex;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	min-height: 140px;
	width: 100%;
	top: 0;
	z-index: 3;

	&__logo {
		font-family: $logo-font;
		font-size: 50px;
	}
}


.scroll {
	position: absolute;
	bottom: 50px;
}



// ********ABOUT

.about-section {
	min-height: 700px;
	background-color: #00c4c4;
	background-image: url('../img/about.png');
	background-position: 25% center;
	background-repeat: no-repeat;
	color: $white-color;
	padding-top: 10em;

	&__text:not(:last-child) {
		margin-bottom: 10px;
	}

	.section-title {
		margin-bottom: 20px;
	}
}

.about-box {
	padding-left: 4em;
}



// ********SERVICES

.services-section {
	min-height: 790px;
	background-color: #70bfff;
	background-image: url('../img/services.png');
	background-position: 75% center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;

	.section-title {
		text-align: right;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list-item {
		max-width: 400px;
		margin-bottom: 1em;
		width: 100%;
		background-color: #fff;
		@extend .shadow;

		&:last-child {
			margin-bottom: 0;
		}

		@each $child,
		$icon in $services {
			&:nth-child(#{$child}) .services-section__list-link::after {
				@include bg-image(#{$icon}, 50% 50%);
			}
		}
	}

	&__list-link {
		$size: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 20px 0;
		font-size: $font-size-element;
		font-weight: bold;
		text-transform: capitalize;
		min-height: $size;
		border-right: 1px solid $grey-color;
		position: relative;
		max-width: calc(100% - #{$size});

		&::after {
			content: '';
			width: $size;
			height: $size;
			position: absolute;
			right: -#{$size};
		}
	}
}



// ********GALLERY

.section-gallery {
	padding: 95px 0;
	background-color: #ffe92f;

	.section-title {
		margin-bottom: 30px;

		&>* {
			color: $dark-color;
			text-align: center;
		}
	}

	&__text {
		max-width: 55%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;
	}

	&__grid {
		margin-bottom: 50px;
	}

	&__item {
		margin-bottom: 20px;


		&-link {
			display: block;
			font-size: 0;
			position: relative;
			padding-top: 70%;
			background-color: $grey-color;
			@extend .shadow;
			border-radius: 5px;
		}

		&-img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			border-radius: 5px;
		}
	}

	.section-gallery__button {
		@include button($blue-color, 200px);
		margin: auto;
	}
}