html {
  background-color: grey;
  @media all and (max-width: 319px) {
    display: none;
  }
}

.blue {
  min-height: 150px;
  background-color: blue;
}

.red {
  min-height: 350px;
  background-color: red;
}

.green {
  min-height: 170px;
  background-color: green;
}

.orange {
  @extend .blue;
  background-color: orange;
}

.aqua-blue {
  min-height: 185px;
  background-color: aqua;
}

.black {
  @extend .blue;
  background-color: black;
}

.row:not(:last-child) {
  margin-bottom: 30px;
}

.mb-30 > [class*="-12"]:not(:last-child) {
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }

    @media (max-width: 991px) {
        margin-bottom: 30px;
    }
}

// .mb0 > *:not(:last-child) {
//     @media (max-width: 767px) {
//         margin-bottom: 0;
//     }
// }
