/*CONTACTS*/


@font-face {
	font-family: "Big John";
	src: url("../fonts/BigJohn.otf");
}

@font-face {
	font-family: "Slim Joe", sans-serif;
	src: url("../fonts/Slim+Joe.otf");
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.main_header {
	padding-top: 35px;
	padding-bottom: 180px;
	background: #FFF url("../img/header-img.jpg") no-repeat 0 0;
	background-size: cover;
	position: relative;
	color: #fff;
}

.main_header:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(60, 73, 85, .7);
}

.logo a {
	display: block;
}

.header_menu {
	float: right;
	line-height: 4;
}

.upper_row {
	margin-bottom: 150px;
}

.header_menu ul {
	list-style: none;
	
}
.logo,
.header_menu,
.header_menu ul li {
	display: inline-block;
	
}

.header_menu ul li:not(:last-child):after {
	content: "/";
	display: inline-block;
	margin: 0 55px;
}

.header_menu ul li a {
	color: #FFF;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: bold;
	
}

.header_menu ul li a:hover {
	color: #48BF72;
	border-bottom: 2px solid #48BF72;
	padding-bottom: .5em;
}

.main_header h1 {
	font-family: "Big John";
	font-size: 46px;
}

.main_header h2 {
	font-family: "Slim Joe";
	font-size: 30px;
	margin-bottom: 35px;
}

.main_header h1,
.main_header h2 {
	text-align: center;
	margin-top: 0;
}

.button {
	background: none;
	border: 2px solid;
	border-radius: 2px;
	text-align: center;
	padding:  10px 25px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.main_header .button {
	text-transform: uppercase;
	border-color: #48bf72;
	color: #48BF72;
}

.main_header .button:hover {
	background-color: #48bf72;
	color: #fff;
}

/*CONTACTS*/

.contacts input,
.contacts textarea {
	display: block;
}

.contacts textarea {
	border: 2px solid #000;
	margin: 10px 0;
	background: #f2f2f2;
	padding: 10px;
}

.contacts textarea:before {
	content: "";
	display: inline-block;
	width: 10px;
	background: #000;
}
