/*  MAP
 
 *******#HEADER
 *******#SECTION
 *******#PRODUCT
 *******#SUBSCRIBE_NEWS
 *******#FOOTER

*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: #303030;
  background-color: #efefef;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400
}

.cf,
.cf:before,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

::-webkit-input-placeholder {
  color: rgba(60, 73, 85, 0.3);
}
::-moz-placeholder {
  color: rgba(60, 73, 85, 0.3);
} 
:-moz-placeholder {
  color: rgba(60, 73, 85, 0.3);
}
:-ms-input-placeholder {
  color: rgba(60, 73, 85, 0.3);
}

h1, 
h2 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.menu-link:hover,
.menu-link:active {
  border-bottom: 2px solid #303030;
  padding-bottom: 0.5em;
}

a:link,
a:visited {
  text-decoration: none;
  transition: all 0.2s; 
  background-color: transparent
  border-bottom: transparent;
}


/*  #HEADER  */

.header {
  width: 100%;
  padding-top: 50px;
}

.header__logo,
.header__menu,
.header__menu ul li {
  display: inline-block;
}

.header__logo {
  float: left;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1px;
}

.header a:link,
.header a:visited {
  font-family: "Roboto", sans-serif;
  color: #303030;
}

.header__menu {
  float: right;
}

.header__menu ul li:not(:last-child) {
  margin-right: 40px;
}


/*  #SECTION  */

.slider-section {
  width: 100%;
  padding-top: 120px;
}

.slider-section__first {
  text-align: right;
  font-size: 24px;
  line-height: 36px;
  max-width: 50%;
  float: left;
  position: relative;
  left: -7px;
}

.slider-section__first h1 {
  line-height: 150px;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 150px;
}

.slider-section__first p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

.slider-section__first a:link,
.slider-section__first a:visited {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #e10011;
  letter-spacing: 1px;
}

.slider-section__second {
  text-align: center;
  float: right;
  padding-right: 130px;
}

.slider-section__nav-dot {
  width: 100%;
  padding: 90px 0;
  text-align: center;
}

.slider-section__nav-dot ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-section__nav-dot ul li {
  display: inline-block;
}

.slider-section__nav-dot ul li a {
  display: block;
}

.slider-section__nav-dot ul li a:link,
.slider-section__nav-dot ul li a:visited {
  border: 5px solid #303030;
  border-radius: 50%;
}

.slider-section__nav-dot ul li:not(last-child) {
  margin-right: 15px;
}

.slider-section__nav-dot ul li a:hover,
.slider-section__nav-dot ul li a:active {
  border-color: #e10011;
}


/*  #PRODUCT  */

.product {
  width: 100%;
  border-radius: 5px;
  background-color: #FFF;
}

.product__up {
  width: 100%;
  padding-top: 115px;
  text-align: center;
}

.product__up h2 {
  font-size: 48px;
  font-weight: 900;
}

.product__up p {
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  line-height: 24px;
}

.product__icon {
  margin: 10px 0;
}

.product__items {
  display: block;
  padding: 60px 0;
  margin: 0 auto;
  width: 88%;
  list-style: none;
}

.product__item {
  display: inline-block;
}

.product__link {
  display: block;
  height: 385px;
  position: relative;
}

.product__link:after {
  content: "";
  background: #e10011;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .2s ease;
}

.product__link:hover:after {
  opacity: 1;
}

.first {
  margin-bottom: 30px;
}

.first:first-child {
  margin-right: 30px;
}

.second:not(:last-child) {
  margin-right: 30px;
}


/*  #SUBSCRIBE_NEWS  */

.subscribe {
  width: 100%;
  text-align: center;
}

.subs__text {
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
}

.subs__text h2 {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1px;
}

.subs__text p {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  line-height: 24px;
}

.form {
  position: relative;
  width: 70%;
  margin: 40px auto;
}

.form:after {
  content: "";
  display: block;
  position: absolute;
  right: 100px;
  top: 50%;
  border: 7px solid transparent;
  border-left-color: #fff;
  transform: translateY(-50%);
}

.form i {
  color: #979797;
  position: absolute;
  left: 89px;
  top: 26px;
}

.form__input-first,
.form__input-second {
  display: inline-block;
}

.form__input-first {
  width: 60%;
  padding: 25px 0 25px 60px;
  border: transparent;
  border-radius: 35px 0 0 35px;
  font-style: italic;
  font-weight: 700;
  color: #303030;
}

.form__input-second {
  position: relative;
  left: -4px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  width: 25%;
  cursor: pointer;
  border: transparent;
  padding: 25px;
  color: #fff;
  border-radius: 0 35px 35px 0;
  background-color: #e10011;
  transition: all 0.2s;
}

.form__input-second:hover {
  color: #303030;
}


/*  #FOOTER  */

.footer {
  padding-top: 80px;
  text-align: center;
}

.footer__icons {
  display: block;
  list-style: none;
  padding: 0;
}

.footer__icons li {
  display: inline-block;
  transition: all 0.2s;
}

.footer__icons li:not(:last-child) {
  margin-right: 20px;
}

.footer__icons li:hover {
  transform: rotate(20deg)
}

.footer p {
  padding: 65px 0 30px;
  color: #979797;
}

.footer span {
  color: #303030;
}