


@font-face {
	font-family: "Miso";
	src: url("../fonts/miso.otf");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #fddf7f;
	font-family: "Miso";
	font-size: 10px;
	justify-content: center;
	align-items: center;
	margin: auto;
	display: flex;
}

.flex-container {
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 600px;
	width: 1140px;
	background-color: #fddf7f;
}

.box {
	box-shadow: 0px 7px 11px -7px #000000;
	background-color: #FFF;
	height: 440px;
	width: 360px;
	border-radius: 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.box__price {
	color:  #02995b;
	font-size: 70px;
	font-weight: bold;
	flex-grow: 3;
	display: flex;
	align-items: center;
}

.box--center {
	box-shadow: 0px 7px 11px -7px #000000;
	min-height: 500px;
}

.box__img {
	flex-grow: 1;
	margin-left: 20px;
}

.box__cup {
	flex-grow: 2;
}

.box__cup-title {
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 56px;
	text-transform: capitalize;
	text-align: center;
}

.box__info {
	font-size: 20px;
	max-width: 170px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}