/* MAP 
******#COMMON
******#

*/


/*COMMON*/
* {
	box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
	font-size: 100%;
	height: 100vh;
	color: #c2c2c2;
	background-color: #F1F1F1;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

a:link {
	color: #c2c2c2;
}

a:hover,
.search .search_input {
	color: #ec5a62;
}

.container {
	max-width: 1200px;
	margin: 50px auto 0;
}


.search > input {
	font-size: 4em;
	border: none;
	background-color: transparent;

}

.search .search_input {
	font-weight: 600;
}

.search_buttom {
	margin-left: 250px;
	width: 75px;
	background-image: url("../img/magnifier.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

::-webkit-input-placeholder {
    color: #c2c2c2;
}

::-moz-placeholder {
    color: #c2c2c2;
}

::-moz-placeholder {
    color: #c2c2c2;
}

:-ms-input-placeholder {
    color: #c2c2c2;
}

.columns {
	padding: 5em 0;
}

.column {
	
	display: inline-block;
	width: 32%;
	margin-right: 1em;
}

.column:last-child {
	margin-right: 0;
}

.column img {
	border-radius: 50%;
}

.column h2 {
	text-transform: uppercase;
	letter-spacing: 3px;
}

.column ul {
	list-style: none;
	padding: 0;
}

.column ul li {
	margin-bottom: 5px;
}

.column ul li a {
	display: block;
	padding: 10px;
	background-color: rgba(118,117,128,0.05);
}

.column ul li a img {
	vertical-align: middle;
	margin-right: 10px;
}

.column ul li a:hover {
	background-color: rgba(118,117,128,0.1);
}
